:root {
  --left: 20px;
  --top: 20px;
}

canvas {
  position: absolute; /* Allows precise positioning on the screen */
  top: var(--top);
  left: var(--left);
  width: 280;
  height: 280;
  border: 2px solid black;
  background-color: white;
}

button {
  left: var(--left);
  top: var(--top);
}