:root {
  --canvas-width: 360px;
  --canvas-height: 360px;
  --button-top: 370px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 75px;
}

#canvas-container {
  position: relative;
  width: var(--canvas-width);
  height: var(--canvas-height);
}

#canvas {
  border: 2px solid black;
  background-color: white;
}

#clear-button {
  position: absolute;
  top: var(--button-top);
  left: 0px;
}

#submit-button {
  position: absolute;
  top: var(--button-top);
  right: 0px;
}

#probabilities {
  padding-left: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#modelResponseChart {
  height: var(--canvas-height);
}

#header-text {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  text-align: center;
}

#title-text {
  text-align: center;
  font-size: 72px;
  font-family: "Caveat", "Shadows Into Light";
  padding-bottom: 25px;
}

#footer-text {
  text-align: center;
}